<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First name"><br>
        <input type="text" name="last_name" placeholder="last name"><br>
        <input type="text" name="username" placeholder="Username" id="username"><br>
        <input type="email" name="email" placeholder="Email" id="email"><br>
        <input type="password" name="password1" id="password1" placeholder="password"><br>
        <input type="password" name="password2" id="password2" placeholder="confirm password"><br>
        <input type="submit" value="Submit">
    </form>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</body>
</html>